@model OnlineShopping.UI.Models.ProductListViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
   @Html.Partial("ProductSummary", p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("ProductList", new { page = x, category=Model.CurrentCategory }))
</div>